<style>

.container_12{
  color: white;
}
.komm{
  text-align: center;
  margin-bottom: 32px;
}
.komm img{
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999
}
.article{
  color: white;
} 
.section{
  color: black;
}

.image {
  position: relative;
}
.image:hover h2{
  display: block;
}

.image h2 {
  display: none;
  position: absolute;
  top: 200px;
  left: 80px;
  width: 100%;
  color: #fff;
}

.image span {
  float: left;
  clear: left;
  color: white;
  font: bold 24px/45px Helvetica, Arial, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
}
.image a{
  color: white;
}
.alt .komm p{
  color: black;
}
.komm p{
  text-align: left;
  color:  white;
  width: 290px;
  margin-left: 90px;
}

.issue{
  padding-top: 64px;
}

.alt{
  background-color: #EBEBEB;
  color: black;
}

</style>


<div class="article">
  <div class="section container_12">
    <h1>Kierononononn Kommunique</h1>
    <div id="komm_heading" >Kieronononon's secret-ish Kommuniques to anyone who dares read</div>
  </div>
  <div class="empty">
    <% i = 0; black = true %>
    <% @komms.each do |komm| %>
    <% i = i + 1 %>
    <% issue_num = i > 9 ? i : "0#{i}" %>

    <% if( i % 2 == 1) %>
      <% if black %>
        <div class="clear"></div></div><div class = "issue container_12">
        <% black = false %>
      <% else %>
        <div class="clear"></div></div><div class = "issue container_12 alt">
        <% black = true %>
      <% end %>
    % end %>

    <div class= 'komm image grid_6'>
      <img src = "assets/komm/thumbs/issue_<%= issue_num %>.jpeg">
      <h2><span>Komm <%= i %></span>
        <% if komm[:pdf] == true %>
        <span><a href="assets/komm/issue_<%= issue_num %>.pdf">pdf</a></span>
        <% end %>
        <span><a href="assets/komm/issue_<%= issue_num %>.html">html</a></span>
      </h2>
      <p><%= komm[:description] %></p>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
</div>
</div>
